/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  scroll-behavior: smooth;
  font-family: "New Amsterdam", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #001F54;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
  margin-left: 20px;
}

.logo img{
  width: 20%;
  
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4682B4;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li a{
  padding: 10px 15px;
  display: inline-block;
}
.menu li a::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;
}


/* DROPDOWN MENU */
.about {
  position: relative;
  z-index: 999; 
}

.dropdown {
  background-color: #4682B4;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
  
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4682B4;
}

.about:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

.navbar .nav-links input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display: none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 40px;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    transition: all 0.5s ease;
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }

  /*login box*/
  .box {
    width: 48%;
  }
}

/* Main Page */

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/homepage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .text-box{
  font-family: 'Montserrat';
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header .text-box h1{
  font-family: 'Poppins', sans-serif;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: 3px;
}

.header .text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: white;
}

.header .text-box .contact-us{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  font-weight: 200;
  transition: all 0.5s ease;
  
}

.header .text-box .contact-us:hover{
  border: 1px solid #000;
  background: white;
  color: black;
}

/* Offers */

.offers{
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.offers h1{
  font-size: 36px;
  font-weight: 600;
}

.offers p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.offers .row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.offers .row .offers-col{
  flex-basis: 31%;
  background: #001f541c;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.offers .row .offers-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.offers .row .offers-col h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .offers .row{
    flex-direction: column;
  }
}

/* Contact US (mainpage) */

.cta{
  width: 80%;
  margin: auto;
  font-family: "New Amsterdam", sans-serif;
  
}
.cta h1{
  margin-bottom: 20px;
  text-align: center;
}

.cta .row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "New Amsterdam", sans-serif;
}

@media screen and (max-width: 700px) {

  .cta .row{
    flex-direction: column;
  }
  
}

.cta .row .cta-cols{
  flex-basis: 48%;
  margin-bottom: 30px;
  font-family: "New Amsterdam", sans-serif;
}

.cta .row .cta-cols div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: "New Amsterdam", sans-serif;

}

.cta .row .cta-cols div .bx{
  font-size: 28px;
  color: teal;
  margin: 10px;
  margin-right: 30px;
  font-family: "New Amsterdam", sans-serif;
}

.cta .row .cta-cols div p{
  padding: 0;
}

.cta .row .cta-cols div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 400;
}

.cta .row .cta-cols form button{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  font-weight: 200;
  transition: all 0.5s ease;
  font-family: "New Amsterdam", sans-serif;
}

.cta .row .cta-cols form button:hover{
  border: 1px solid #fff;
  background: black;
  color: white;
  font-family: "New Amsterdam", sans-serif;
}

.cta .row .cta-cols input, .cta .row .cta-cols textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
}

/* Location Map */

.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe{
  width: 100%;
}

/* Footer */

.footer{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.footer .row{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px){
  .footer .row{
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
}


.footer .row .footer-cols .bx{
  font-size: 28px;
  color: teal;
  margin-right: 30px;
  
}

/* Login / Signup */

/* logo for forms */

.box .logoform{
  margin: 20px;
  margin-left: 30px;
  text-align: center;
  margin-top: 15%;
}

.box .logoform img{
 width: 90%;
}

/* CSS for styling the boxes */
.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  max-width: 800px; 
  margin: 50px auto;
  margin-top: 5%;


}

.box {
  width: 100%;
  flex: 1; 
  margin-bottom: 20px; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #0A1128;
  color: white; 
  border-right: 1px solid white; 
}

.box h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* CSS for styling the form */


.container .box input[type="text"],
.container .box input[type="password"]{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 20px;
  
}

.container .box .radio-buttons{
  margin-top: 20px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.container .box .radio-buttons .radio-input{
  display: none;
}

.container .box .radio-buttons .radio-label{
  padding: 8px 14px;
  font-size: 14px;
  font-family: sans-serif;
  color: #007bff;
  background: white;
  cursor: pointer;
}

.container .box .radio-buttons .radio-label:not(:last-of-type){
  border-right: 1px solid #007bff;
}

.container .box .radio-buttons .radio-input:checked + .radio-label{
  background: #007bff;
  color: white;
}

.container .box form .password-requirements{
  display: none;
  position: absolute;
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  
}

.container .box form .password-requirements p{
  font-weight: bold;
  margin: 10px;
}

.container .box form .password-requirements ul li{
  margin: 20px;
}

.container .box input[type="submit"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  background: #1282a2;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.container .box .forgot-pass{
  margin-top: 20px;
  
}
.container .box .forgot-pass a{
  text-decoration: none;
}

.container .box .forgot-pass a:visited {
  text-decoration: none;
  color: #007bff; /* Set visited link color */
}

.bottom-links {
  text-align: center;
  margin-top: 20px;
}

.bottom-links a {
  margin: 0 10px;
  text-decoration: none;
}

.bottom-links a:visited {
  text-decoration: none;
  color: #007bff; /* Set visited link color */
}

/* Login Pop-up error */

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup-overlay.show {
  display: block;
  opacity: 1;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  max-width: 350px;
}

.popup h2{
  margin-bottom:  10px;
  font-size: 26px;
}

.popup span{
  font-size: 16px;
  
}

.popup.show {
  display: block;
  opacity: 1;
}

#edit-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #1c782b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#delete-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #781d1d;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#cancel-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #363333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup #close-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup #close-btn:hover {
  background: #0056b3;
}

/* About us */

.banner {
  background-image: url("aboutusimg/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  
}

.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}


.aboutus:nth-child(even) {
  background-color: #EFEFEF;
}

.aboutus:nth-child(even) .text {
  order: 1;
}

.aboutus:nth-child(even) .image {
  order: 2;
}

.aboutus  {
  margin: 150px auto;
  width: 70%;
}

.aboutus .image{
  flex-basis: 40%;
  margin: 20px;
}

.aboutus img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 10px;
}

.aboutus .text-box{
  flex-basis: 50%;
  text-align: justify;
  margin: 30px;
}

.aboutus .text-box h2{
  color: #001F54;
  font-size: 36px;
  font-weight: black;
}

.aboutus .text-box p{
  margin-top: 30px;
  color: #034078;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.7px;
}



